---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="I'm Ricky Aryanto"
  description="About me"
  pubDate={new Date("June 10 2024")}
  heroImage="/blog-placeholder-about.jpg"
  updatedDate={new Date("June 10 2024")}
>
  <h2>About</h2>
  <p>
    Hello there, I'm Ricky! I have an interest in automation and a preference
    for function over form. I also love optimizing my workflow by adding a bunch
    of automation, removing unecessary steps, and trying out new tools. I am
    currently a working as a fullstack developer in Indonesia. You can find me
    on
    <a href="http://https://www.linkedin.com/in/rickyaryanto/">LinkedIn</a> and <a
      href="http://https://github.com/rickyxyz">GitHub</a
    >.
  </p>

  <h2>Now</h2>
  <p>Currently, I'm trying to learn more about automated deployment.</p>

  <h2>How I Roll</h2>
  <p>
    When working, I try to automate the repetitive tasks; You know the deal...
  </p>
  <blockquote>
    Why spend 5 minutes doing the task, when you can spend 5 hours automating
    the task.
  </blockquote>
  <p>
    Why? Cause I think time spent doing the task could be used for something
    else. More importantly, automating the task reduce the friction and
    resistance for me doing my job.
  </p>

  <h2>Socials</h2>
  <ul>
    <li><a href="http://https://github.com/rickyxyz">GitHub</a></li>
    <li>
      <a href="http://https://www.linkedin.com/in/rickyaryanto/">LinkedIn</a>
    </li>
  </ul>

  <h2>Randoms</h2>
  <ul>
    <li>
      This site was made using <a href="http://https://astro.build/">Astro</a>,
      if you're curious 😉.
    </li>
    <li>
      <b>I play Factorio.</b> Do I like automation because of Factorio? Or do I like
      Factorio because I like automation?
    </li>
  </ul>
</Layout>

<style>
  h2 {
    font-size: 2.4rem;
  }
</style>
