---
import BaseLayout from "../layouts/BaseLayout.astro";
import Photo from "../assets/photo-portrait.jpg";
import LogoKnight from "../assets/logo-knight.png";
import LogoFotoyu from "../assets/logo-fotoyu.jpg";
import { Image } from "astro:assets";
---

<style>
  .base_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .header {
    margin: 4rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .header img {
    border-radius: 100%;
    height: 12rem;
    width: 12rem;
    object-fit: cover;
  }

  .header p {
    font-size: 1.2rem;
    opacity: 0.7;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  ol,
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  .wrapper {
    margin: 1rem 0;
  }

  h3 {
    font-size: 1rem;
    line-height: unset;
    margin: 0;
  }

  .work_experience {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;
  }

  .work_experience__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .work_experience__header p,
  .work_experience__details {
    margin: 0;
    color: var(--secondary);
    line-height: 1rem;
  }

  .work_experiences {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .work_experiences li {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  .work_experience__image_container {
    overflow: hidden;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work_experiences img {
    height: 1.8rem;
    width: 1.8rem;
  }

  @media screen and (max-width: 720px) {
    .header {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 1rem;
      margin: 2rem 0;
    }

    .work_experience {
      gap: 0.5rem;
    }

    .work_experience__header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>

<BaseLayout>
  <main class="base_container">
    <div class="header">
      <span>
        <h1>Ricky Aryanto</h1>
        <p>
          Developing website and web apps to drive growth for small to medium
          sized businesses.
        </p>
        <nav>
          <ul>
            <li>
              <a
                href="https://github.com/rickyxyz"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Github"
              >
                <span class="sr-only">Go to rickyxyz's GitHub profile</span>
                <svg
                  viewBox="0 0 16 16"
                  aria-hidden="true"
                  width="24"
                  height="24"
                  ><path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  ></path></svg
                >
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/rickyaryanto/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="LinkedIn"
              >
                <span class="sr-only">Go to Ricky's LinkedIn</span>
                <svg
                  viewBox="0 0 256 256"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <path
                    fill="currentColor"
                    d="M83,206.7V101.5H49.3v105.2H83L83,206.7z M67.4,85.6c11.2,0,18.3-8,18.3-18.1c-0.2-10.3-7-18.1-18.1-18.1c-11.1,0-18.3,7.9-18.3,18.1c0,10.1,7,18.1,17.8,18.1H67.4L67.4,85.6z"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M167.8,99.1c-17.9,0-25.6,10.1-30.5,17.1v-14.6h-33.8v105.1h33.8v-59.9c0-3.1,0.2-6.1,1.2-8.3c2.5-6.1,8-12.5,17.3-12.5c12.2,0,17.1,9.4,17.1,23.2v57.5h33.8v-61.4C206.7,113.8,190,99.1,167.8,99.1z"
                  ></path>
                  <path
                    fill="currentColor"
                    d="M227.1,10h-197C19.4,10,10,17.7,10,28.4v197.4c0,10.7,9.4,20.2,20.2,20.2h196.9c10.8,0,18.9-9.6,18.9-20.2V28.4C246.1,17.7,237.9,10,227.1,10z M225.2,226.4c-0.7,0-192.5,0-193.6,0s-1.9-0.9-1.9-1.9c0-1,0-192.9,0-193.6c0-0.7,0.6-1.2,1.2-1.2s193.7,0,194.3,0s1.2,0.6,1.2,1.2c0,14.3,0,193.6,0,194.3C226.4,225.7,225.9,226.4,225.2,226.4z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </span>
      <Image alt={"Ricky Aryanto"} src={Photo} />
    </div>
    <div class="wrapper">
      <h2>About</h2>
      <p>
        Web developer with focus on performance. Interested in building
        automation system and smarter website to drive growth and make managing
        small-to-medium sized business easier with technology.
      </p>
    </div>
    <div class="wrapper">
      <h2>Work Experience</h2>
      <ol class="work_experiences">
        <li>
          <div
            class="work_experience__image_container"
            style="background-color: rgb(17,24,32);"
          >
            <Image alt={"Knight Personnel Bali Logo"} src={LogoKnight} />
          </div>
          <div class="work_experience">
            <span class="work_experience__header">
              <h3>Knight Personnel Bali</h3>
              <p>August 2024 - Present</p>
            </span>
            <span class="work_experience__details">Web Developer</span>
          </div>
        </li>
        <li>
          <div
            class="work_experience__image_container"
            style="background-color: #b737e2;"
          >
            <Image
              alt={"Knight Personnel Bali Logo"}
              src={LogoFotoyu}
              style={"height: 2rem; width: 2rem;"}
            />
          </div>
          <div class="work_experience">
            <span class="work_experience__header">
              <h3>Fotoyu</h3>
              <p>September 2022 - February 2023</p>
            </span>
            <span class="work_experience__details">Frontend Engineer</span>
          </div>
        </li>
      </ol>
    </div>
  </main>
</BaseLayout>
