---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 8);
---

<BaseLayout>
  <main>
    <section class="intro">
      <h1>Hi, I'm Ricky 👋</h1>
      <div class="subtitle">
        <p>I build websites and webapps on the internet.</p>
        <hr />
      </div>
      <p>
        Welcome to my website where I put whatever I'm working on or thinking
        about.
      </p>
    </section>
    <section class="list posts">
      <h2>Latest Blog Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                {post.data.title}
                <span class="date">
                  [<FormattedDate date={post.data.pubDate} />]
                </span>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog" class="see_more">→ See all posts</a>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  h1 {
    margin-bottom: 0.5rem;
  }
  .subtitle,
  .subtitle p {
    padding-left: 1px;
    margin: 0;
    font-size: 1.2rem;
    color: var(--secondary);
  }
  .list a p {
    display: inline-block;
    margin: 0;
  }
  .list .date {
    margin: 0;
    color: var(--accent);
    font-size: 1rem;
  }
  .list .date:hover {
    color: var(--accent);
  }
  .see_more {
    margin-left: 1.2rem;
  }

  @media (max-width: 720px) {
    main {
      margin-bottom: 2rem;
      gap: 2rem;
    }
  }
</style>
