---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 8);
---

<BaseLayout>
  <main>
    <section class="intro">
      <h1>I Make Stuff 🏗️</h1>
      <div class="subtitle">
        <p>Because I can</p>
        <hr />
      </div>
      <p>
        Hello, I'm Ricky, and this is my personal site and blog. This is where I
        store all my blog posts.
      </p>
      <a href="/about">→ More on About me</a>
    </section>
    <section class="list posts">
      <h2>Latest Blog Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                {post.data.title}
                <span class="date">
                  [<FormattedDate date={post.data.pubDate} />]
                </span>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog" class="see_more">→ See all posts</a>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  h1 {
    margin-bottom: 0.5rem;
  }
  .subtitle,
  .subtitle p {
    padding-left: 1px;
    margin: 0;
  }
  hr {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .list h2 {
    font-size: 2.4rem;
  }
  .list a p {
    display: inline-block;
    margin: 0;
  }
  .list li a {
    text-decoration: none;
  }
  .list li a:hover {
    text-decoration: underline;
  }
  .list .date {
    margin: 0;
    color: var(--text);
    font-size: 1rem;
  }
  .see_more {
    margin-left: 1.2rem;
    color: var(--text);
    text-decoration: none;
  }
  .see_more:hover {
    text-decoration: underline;
  }
</style>
