h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
input,
div {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.logo-text {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  font-size: 2.074rem;
  line-height: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em;
  word-spacing: 0.07em;
  color: #232527ff;
}

h1,
h2 {
  font-weight: 800;
}

h3,
h4 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 7rem;
  line-height: 6rem;
  letter-spacing: -0.05em;
  word-spacing: 0.05em;
}

h2 {
  font-size: 2.488rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6,
a {
  font-size: 1.2rem;
}

a:hover,
a:active {
  font-weight: 600;
  @apply text-dark_orange;
}

p {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -0.004em;
  line-height: 1.9rem;
}

@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 2.986rem;
    line-height: 4rem;
  }

  h1 {
    font-size: clamp(12rem, 14vw, 14rem);
    line-height: clamp(11rem, 13vw, 13rem);
  }

  h2 {
    font-size: 4.209rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 3.157rem;
  }

  h4 {
    font-size: 2.369rem;
  }

  h5 {
    font-size: 1.777rem;
  }

  h6,
  a {
    font-size: 1.333rem;
  }

  p {
    font-size: 1.2rem;
  }
}
